<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">			
    <!-- membuat jumbotron -->
    <div class="jumbotron">
        <center>			
            <h1 style="color: white;">Selamat Datang Di Website Resmi </h1>
            <h2 style="color: white;">Kantor Camat Lintau Buo</h2><br/><br/>
            <br><br><br>
            
        </center>
   