<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">			
    <!-- membuat jumbotron -->
    <div class="jumbotron">
        <center style="color: rgb(250, 250, 250);"><h1>
            <span>Selamat</span>
            <span>Datang</span>
            <span>Di</span>
            <span>Website</span>
            <br>
            <span>Kecamatan</span>
            <span>Lintau</span>
            <span>Buo</span>
          </h1> </center>
        </div>          

          <br>

        