
<br>
<div class="container">			
    <!-- membuat jumbotron -->
    <div class="jumbotron">
        <center>			
            <h1>WEBSITE RESMI</h1>
            <h2>KECAMATAN LINTAU BUO</h2><br/><br/>
            <br><br><br>
            <a href="/home" class="btn btn-dark">WEBSITE KECAMATAN</a>
        </center>
    </div>
    <br>
    
    
        
    

    <div class="jumbotron">
        <center>			
            <a href="/profile" class="btn btn-dark" style="margin-right: 15px;">PROFILE</a>
            <a href="/layanan" class="btn btn-dark" style="margin-right: 15px;">LAYANAN</a>
            <a href="/berita" class="btn btn-dark" style="margin-right: 15px;">BERITA</a>
        </center>
    </div>
</div>