<center><h2 style="color: rgb(5, 5, 5); ">LAYANAN KECAMATAN</h2></center>

<a href="/suratpindahpenduduk" target="_blank">
 <br>
 <center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Pelayanan E-KTP</b></button></a></center>
<a class="nav-link active" aria-current="page" href="/proposalkelompok" >
 <center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Surat Pindah Penduduk</b></button></a></center>
 <a class="nav-link active" aria-current="page" href="/proposalkelompok" >
 <center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Surat Keterangan Kematian</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Proposal Kelompok Tani Dan Usaha Lainnya</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Proposal Beasiswa</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi HO</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Surat Keterangan Tidak Mampu</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Surat Keterangan Usaha</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi Warmeking Pinjam Bank</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Legalisasi Surat</b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Surat Keterangan Catatan Kepolisian </b></button></a></center>
<br>
<center><button class="button" style="background-color:rgba(0, 0, 0, 0.514); color: rgb(248, 248, 248); border-radius: 10px;border: 2px solid rgb(255, 254, 254);"> <b>Rekomendasi izin Keramaian</b></button></a></center>
